@require variables

$menu--trigger--size = 40px
$menu--height = ($space--default * 4)

.menu--trigger
  height: $menu--trigger--size
  left: $space--default
  mix-blend-mode: screen
  position: fixed
  top: (($menu--height - $menu--trigger--size) / 2)
  width: $menu--trigger--size
  z-index: 10

  &.open
    mix-blend-mode: normal

    svg
      path
        fill: $color--primary

  svg
    height: $menu--trigger--size
    width: $menu--trigger--size

    path
      fill: $color--secondary

.menu
  background-color: $color--primary
  height: $menu--height
  left: 0
  overflow: hidden
  position: fixed
  top: 0
  transition: all .15s ease-in-out
  width: 0
  z-index: 9

  &.open
    background-color: $color--secondary
    color: $color--primary
    width: 100vw

  .actions
    padding: 0 $space--default 0 ($menu--trigger--size + $space--default * 2)
    text-align: right

    label
      display: inline-block
      height: $menu--height
      line-height: $menu--height

.arrow
  margin-bottom: 100px
  margin-top: 100px

a
  cursor: pointer

.description
  min-height: 100vh
  text-align: center

.small-description
  text-align: center

  h2
    margin-bottom: ($space--default * 6)

.dummies
  list-style: none

  li
    margin-bottom: 30vh
    position: relative
    text-align: center

    .reset
      bottom: 20px
      left: 50%
      margin-left: -24px
      position: absolute

  li.observed
    border: 2px dashed $color--secondary
    color: $color--secondary
    height: 40vh // height of the element needs to be smaller than viewport subtracted by the rootMargin
    margin: 0 auto 30vh
    overflow: hidden
    position: relative
    // width: 60vw

    &.emitted
      background: $color--secondary
      border: none
      color: $color--primary

    h3
      margin-top: 24px

    .index
      bottom: 0
      color: $color--functional-2
      font-size: 128px
      line-height: 1
      position: absolute
      right: 0

.overlay
  bottom: 0
  height: 100vh
  left: 0
  position: fixed
  right: 0
  top: 0
  width: 100vw
  z-index: -1

  &.hidden
    display: none

  div
    border-style: dashed
    border-width: 2px
    display: block
    position: absolute

    &::before
      color: $color--primary
      display: block
      padding: 0 10px
      position: absolute
      right: -2px
      top: -2px

    &.future
      border-color: $color--functional-1

      &::before
        background: $color--functional-1
        content: 'future'

    &.past
      border-color: $color--functional-2

      &::before
        background: $color--functional-2
        content: 'past'

    &.present
      border-color: $color--functional-3

      &::before
        background: $color--functional-3
        content: 'present'
