<!-- MENU -->
<a
  class="menu--trigger"
  (click)="toggleMenu()"
  [ngClass]="{'open': showMenu}"
>
  <svg viewBox="0 0 24 24">
    <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
  </svg>
  <!-- <svg viewBox="0 0 24 24">
    <path
      d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"
    />
  </svg> -->
</a>

<section
  class="menu"
  [ngClass]="{'open': showMenu}"
>
  <div class="actions">
    <label>
      <input
        type="checkbox"
        [checked]="showOverlay"
        (click)="toggleOverlay()"
      >
      Show Root-Margins
    </label>
  </div>

</section>


<!-- DESCRIPTION -->
<header class="description">
  <div class="container">
    <h1
      class="color-secondary"
      style="padding-top:100px"
    >ngx-intersection</h1>

    <p>Ngx-intersection is a set of directives and classes for Angular to make it *really* easy to make use of the
      IntersectionObserver API. One main goal has been to use the absolute minimum count of IntersectionObserver
      instances, so there are many situations where you use different directives, which itself use the *same*
      IntersectionObserver instance under the hood! The library also comes with a set of services you can use from
      within your component's controllers.</p>

    <img
      class="arrow"
      src="assets/arrow-down.svg"
    >
  </div>


  <!-- <pre>ROOT_MAGIN_FUTURE: {{ rootMarginFuture }}</pre>
  <pre>ROOT_MAGIN_PAST: {{ rootMarginPast }}</pre>
  <pre>ROOT_MAGIN_PRESENT: {{ rootMarginPresent }}</pre> -->
</header>

<section class="description">
  <div class="container">
    <h2>Naming Convention</h2>
    <p>Because I wanted to provide directives for all possible and useful situations, it was hard (e.g. impossible) to
      find
      declarative names for the directives and classes. So I decided to follow a clear naming-convention at least:</p>
    <p>I defined 3 different rootMargins, which gives us the opportunity to let the IntersectionObserver emit when the
      observed element is still a bit outside the viewport, when the element is entering the viewport, and when the
      element already entered the viewport a bit. The aliases fir this are "past", "present" and "future". The offset to
      define the exact position can be configured with InjectionTokens.</p>
    <p>The thresholds only have 2 aliases. One for the threshold of 0 (the next scrolled pixel will bring the element' s
      first pixel into the viewport) and one for the threshold of 1 (all pixels of the element are inside the viewport).
      The alias for threshold 0 is *Start* and for 1 its *End*.</p>
    <p>To be able to let an IntersectionObserver emit only once for an element (by default the IntersectionObserver will
      emit whenever the element is intersecting), I've added a directive with *Once* in the name for every possible
      rootMargin/threshold combination.</p>
    <p>And last but not least, I wanted directives that emit when an element was intersecting (e.g. just left the
      viewport/rootMargins). These directives are ending with *Exit* in their names.</p>
    <h3>Example</h3>
    <p>So a classical usecase for IntersectionObserver is the lazyloading of images. You want the image to be loaded a
      bit before (*Future*) the first pixel of the image (*Start*) is entering the viewport. Since the image is already
      loaded after the element entered the viewport once, you don't need the IntersectionObserver to emit a second time
      (*Once*). So the name for the directive you need is *(ngxIntersectionFutureStartOnce*.)</p>

    <img
      class="arrow"
      src="assets/arrow-down.svg"
    >
  </div>
</section>

<section class="description">
  <div class="container">
    <h2>Features in this Demo</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing
      elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
      eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
      ipsum
      dolor sit amet.</p>

    <img
      class="arrow"
      src="assets/arrow-down.svg"
    >
  </div>
</section>

<section class="small-description">
  <div class="container">
    <h2>Then let's start...</h2>
  </div>
</section>

<!-- DIRECTIVE EXAMPLES -->
<div class="container">

  <ul class="dummies">
    <li
      class="observed"
      (ngxIntersectionFutureEnd)="emitHandler('ngxIntersectionFutureEnd', $event)"
    >
      <h3>(ngxIntersectionFutureEnd)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionFutureEndExit)="emitHandler('ngxIntersectionFutureEndExit', $event)"
    >
      <h3>(ngxIntersectionFutureEndExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionFutureEndOnce)="emitHandler('ngxIntersectionFutureEndOnce', $event)"
    >
      <h3>(ngxIntersectionFutureEndOnce)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionFutureEndOnceExit)="emitHandler('ngxIntersectionFutureEndOnceExit', $event)"
    >
      <h3>(ngxIntersectionFutureEndOnceExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionFutureStart)="emitHandler('ngxIntersectionFutureStart', $event)"
    >
      <h3>(ngxIntersectionFutureStart)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionFutureStartExit)="emitHandler('ngxIntersectionFutureStartExit', $event)"
    >
      <h3>(ngxIntersectionFutureStartExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li>
      <h2>...scroll up a bit...</h2>
      <p>(you can see that the last element has emitted now)</p>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionFutureStartOnce)="emitHandler('ngxIntersectionFutureStartOnce', $event)"
    >
      <h3>(ngxIntersectionFutureStartOnce)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionFutureStartOnceExit)="emitHandler('ngxIntersectionFutureStartOnceExit', $event)"
    >
      <h3>(ngxIntersectionFutureStartOnceExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li>
      <h2>...scroll up a bit and reset...</h2>
      <p>If you then scroll back down and up again, you will see that the element won't emit a second time.
        It is because all directives having *Once* in their name will be unobserved after the first emit.</p>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPastEnd)="emitHandler('ngxIntersectionPastEnd', $event)"
    >
      <h3>(ngxIntersectionPastEnd)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPastEndExit)="emitHandler('ngxIntersectionPastEndExit', $event)"
    >
      <h3>(ngxIntersectionPastEndExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPastEndOnce)="emitHandler('ngxIntersectionPastEndOnce', $event)"
    >
      <h3>(ngxIntersectionPastEndOnce)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPastEndOnceExit)="emitHandler('ngxIntersectionPastEndOnceExit', $event)"
    >
      <h3>(ngxIntersectionPastEndOnceExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPastStart)="emitHandler('ngxIntersectionPastStart', $event)"
    >
      <h3>(ngxIntersectionPastStart)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPastStartExit)="emitHandler('ngxIntersectionPastStartExit', $event)"
    >
      <h3>(ngxIntersectionPastStartExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPastStartOnce)="emitHandler('ngxIntersectionPastStartOnce', $event)"
    >
      <h3>(ngxIntersectionPastStartOnce)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPastStartOnceExit)="emitHandler('ngxIntersectionPastStartOnceExit', $event)"
    >
      <h3>(ngxIntersectionPastStartOnceExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPresentEnd)="emitHandler('ngxIntersectionPresentEnd', $event)"
    >
      <h3>(ngxIntersectionPresentEnd)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPresentEndExit)="emitHandler('ngxIntersectionPresentEndExit', $event)"
    >
      <h3>(ngxIntersectionPresentEndExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPresentEndOnce)="emitHandler('ngxIntersectionPresentEndOnce', $event)"
    >
      <h3>(ngxIntersectionPresentEndOnce)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPresentEndOnceExit)="emitHandler('ngxIntersectionPresentEndOnceExit', $event)"
    >
      <h3>(ngxIntersectionPresentEndOnceExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPresentStart)="emitHandler('ngxIntersectionPresentStart', $event)"
    >
      <h3>(ngxIntersectionPresentStart)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPresentStartExit)="emitHandler('ngxIntersectionPresentStartExit', $event)"
    >
      <h3>(ngxIntersectionPresentStartExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPresentStartOnce)="emitHandler('ngxIntersectionPresentStartOnce', $event)"
    >
      <h3>(ngxIntersectionPresentStartOnce)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li><img src="assets/arrow-down.svg"></li>
    <li
      class="observed"
      (ngxIntersectionPresentStartOnceExit)="emitHandler('ngxIntersectionPresentStartOnceExit', $event)"
    >
      <h3>(ngxIntersectionPresentStartOnceExit)</h3>
      <a
        (click)="resetEmitted($event)"
        class="reset"
      >
        <img src="assets/undo-variant.svg"></a>
    </li>
    <li>
      <h2>...that's it!</h2>
    </li>
    <li><a (click)="scrollToTop()"><img src="assets/arrow-up.svg"></a></li>
  </ul>
</div>

<!-- ROOT_MARGINS OVERLAY -->
<!-- <a
  class="overlay--toggle"
  (click)="toggleOverlay()"
>
  <svg viewBox="0 0 24 24">
    <path
      *ngIf="!showOverlay"
      d="M17,7H7A5,5 0 0,0 2,12A5,5 0 0,0 7,17H17A5,5 0 0,0 22,12A5,5 0 0,0 17,7M7,15A3,3 0 0,1 4,12A3,3 0 0,1 7,9A3,3 0 0,1 10,12A3,3 0 0,1 7,15Z"
    />
    <path
      *ngIf="showOverlay"
      d="M17,7H7A5,5 0 0,0 2,12A5,5 0 0,0 7,17H17A5,5 0 0,0 22,12A5,5 0 0,0 17,7M17,15A3,3 0 0,1 14,12A3,3 0 0,1 17,9A3,3 0 0,1 20,12A3,3 0 0,1 17,15Z"
    />
  </svg>
</a> -->

<div
  class="overlay"
  [ngClass]="{'hidden': !showOverlay}"
>
  <div
    class="future"
    [ngStyle]="{'height': 'calc(100vh - ' + rootMarginFuture + ' * 2 - 4px)', 'width': 'calc(100vw - ' + rootMarginFuture + ' * 2 - 4px)', 'top': rootMarginFuture, 'left': rootMarginFuture}"
  ></div>
  <div
    class="past"
    [ngStyle]="{'height': 'calc(100vh - ' + rootMarginPast.slice(1) + ' * 2 - 4px)', 'width': 'calc(100vw - ' + rootMarginPast.slice(1) + ' * 2 - 4px)', 'top': rootMarginPast.slice(1), 'left': rootMarginPast.slice(1)}"
  ></div>
  <div
    class="present"
    [ngStyle]="{'height': 'calc(100vh - ' + rootMarginPresent.slice(1) + ' * 2 - 4px)', 'width': 'calc(100vw - ' + rootMarginPresent.slice(1) + ' * 2 - 4px)', 'top': rootMarginPresent.slice(1), 'left': rootMarginPresent.slice(1)}"
  ></div>
</div>
