// colors palette
$color--primary = rgb(73, 10, 61)
$color--secondary = rgb(189, 21, 80)
$color--functional-1 = rgb(233, 127, 2)
$color--functional-2 = rgb(248, 202, 0)
$color--functional-3 = rgb(138, 155, 15)
// colors bw
$color--black = #000000
$color--white = #FFFFFF
$color--dark-grey = #6F6F6E
$color--middle-grey = #9C9B9B
$color--light-grey = #DCDCDC
// colors state
$color--error = $color--secondary
$color--success = $color--functional-3
$color--warning = $color--functional-2
// 
// =============================================================================
// 
// spaces
$space--default = 20px
// font
$font-family--open-sans = 'Open Sans', sans-serif
$font-family--georgia = 'Georgia', 'Times', 'Times New Roman', serif
$font-family--default = $font-family--georgia
$font-size--default = 16px
$line-height--default = 1.618
$letter-spacing--default = .02em