@require variables

html body
  color: $color--secondary
  font-family: $font-family--default
  font-size: $font-size--default
  letter-spacing: $letter-spacing--default
  line-height: $line-height--default