@require _variables

// 
// COLOR CLASSES
// =============================================================================
.color-white
  color: $color--white !important

.color-black
  color: $color--black !important

.color-primary
  color: $color--primary !important

.color-secondary
  color: $color--secondary !important

.color-functional-1
  color: $color--functional-1 !important

.color-functional-2
  color: $color--functional-2 !important

.color-functional-3
  color: $color--functional-3 !important

.color-dark-grey
  color: $color--dark-grey !important

.color-middle-grey
  color: $color--middle-grey !important

.color-light-grey
  color: $color--light-grey !important

.color-error, .color-red
  color: $color--error !important

.color-success, .color-green
  color: $color--success !important

.color-warning, .color-yellow
  color: $color--warning !important

// 
// BORDER CLASSES
// =============================================================================
.border-primary
  border-color: $color--primary !important
  color: $color--primary !important

.border-secondary
  border-color: $color--secondary !important
  color: $color--secondary !important

.border-functional-1
  border-color: $color--functional-1 !important
  color: $color--functional-1 !important

.border-functional-2
  border-color: $color--functional-2 !important
  color: $color--functional-2 !important

.border-functional-3
  border-color: $color--functional-3 !important
  color: $color--functional-3 !important

.border-dark-grey
  border-color: $color--dark-grey !important
  color: $color--dark-grey !important

.border-middle-grey
  border-color: $color--middle-grey !important
  color: $color--middle-grey !important

.border-light-grey
  border-color: $color--light-grey !important
  color: $color--light-grey !important

.border-error
  border-color: $color--error !important
  color: $color--error !important

.border-success
  border-color: $color--success !important
  color: $color--success !important

.border-warning
  border-color: $color--warning !important
  color: $color--warning !important

// 
// BACKGROUND CLASSES
// =============================================================================
.background-primary
  background-color: $color--primary

.background-secondary
  background-color: $color--secondary

.background-functional-1
  background-color: $color--functional-1

.background-functional-2
  background-color: $color--functional-2

.background-functional-3
  background-color: $color--functional-3

.background-dark-grey
  background-color: $color--dark-grey

.background-middle-grey
  background-color: $color--middle-grey

.background-light-grey
  background-color: $color--light-grey

.background-error
  background-color: $color--error

.background-success
  background-color: $color--success

.background-warning
  background-color: $color--warning

.background-black
  background-color: $color--black